* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  width: 100vw;
  height: 100vh;
} */

body {
  font-family: var(--fontes-raleway);
  width: var(--w-100vw);
  height: var(--h-100vh);
  color: var(--color-texto);
  overflow-x: var(--over-x-hidden);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  cursor: pointer;
}

/* img {
  max-width: 100%;
} */