:root {

  --header-height: 3.5rem;

  /*========== Width ==========*/
  --w-100vw: 100vw;
  --h-100vh: 100vh;

  /*========== Colors ==========*/
  --bg-gray-default: #EFE9E9;
  --bg-black: #000000;
  /* --bg-gray-light-83: #CED4DA; */
  --bg-gray-border: #C8C8C8;
  --bg-blue: #2A7AE4;
  --bg-blue-hover: #5595E9;
  --bg-blue-light-hover: #D4E4FA;
  --bg-white: #FFFFFF;
  /*========== Colors message error ==========*/
  --bg-red-dark: #842029;
  --bg-red-grayish-light: #F8D7DA;
  --bg-red-soft-very-5: #a5303c;
  --bg-red-soft-very-light: #C53041;
  --bg-blue-grayish-light: #EAF2FD;
  /*========== Colors message sucess ==========*/
  --bg-green-lime-dark: #0F5132;
  --bg-green-lime-light: #D1E7DD;
  --bg-green-lime-light-5: #188051;

  --color-dark-grayish-200: #737380;
  --color-dark-gray-price: #464646;

  /*========== Font Weight and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  
  /* === 16px / 16px = 1rem === */
  --fs-1: 1rem;
  /* === 20px / 16px = 1.25rem === */
  --fs-1-25: 1.25rem;
  /* === 40px / 16px = 2.50rem === */
  --fs-2-70: 2.70rem;

  /*========== Font Family ==========*/
  --fontes-raleway: 'Raleway', sans-serif;


  /*========== Paddins Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --pl-0-875: 0.875rem;
  --pr-0-875: 0.875rem;
  --pt-1-37: 1.37rem;
  --pb-1-37: 1.37rem;
  --pt-0-75: 0.75rem;
  --pb-0-75: 0.75rem;
  --pl-3-10: 3.10rem;
  --pr-3-10: 3.10rem;
  --p-1: 1rem;
  --p-1-5: 1.5rem;
  --p-2: 2rem;
  --p-3: 3rem;
  --p-4: 4rem;
  --p-5: 5rem;
  --p-6: 6rem;
  --p-15: 15px;
  --p-18: 18px;


  /*========== Margins Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --m-0-625: .625rem;
  --m-1: 1rem;
  --m-2: 2rem;
  --m-3: 3rem;
  --m-5: 5rem;


  /*========== Overflow ==========*/
  --over-x-hidden: hidden;

}