@media(max-width: 1130px) {
  .nav {
    padding-left: var(--p-1-5);
    padding-right: var(--p-1-5);
  }
  .contato__nav {
    flex-wrap: wrap;
  }
}

@media(max-width: 780px) {
  .nav {
    align-items: center;
    flex-direction: column;
  }
  .login {
    padding-top: var(--p-2) !important;
  }
}

@media(min-width: 480px) {
  .login__autenticacao,
  .btn__blue {
    width: 20rem !important;
    margin: 0 auto;
  }
  .login__autenticacao--editUsuario {
    width: 34rem !important;
    margin: 0;
  }
  .login__autenticacao--m-top {
    margin-top: var(--m-0-625);
  }
  /* .ri-eye-fill, .ri-eye-off-fill {
    top: 175px;
    right: 9rem;
  } */
}


@media(max-width: 480px) {
  .nav {
    flex-direction: column;
  }
  .nav__logo {
    text-align: center;
    margin-bottom: 25px;
  }
  .btn_default--login {
    width: 50%;
    margin: 0 auto;
  }
  .main {
    /* padding: var(--p-1-5); */
  }
  .ri-eye__container {
    position: relative;
    float: right;
    top: -34px;
    right: -3rem;
  }
  .contato-content {
    flex-direction: column;
  }
  .contato__nav {
    margin-top: var(--m-2);
  }
}

@media(min-width: 0px) {
  .login__autenticacao {
    width: 100%;
  }
}