.container {
  max-width: 1100px;
  padding-left: var(--pl-0-875);
  padding-right: var(--pr-0-875);
  padding-top: var(--pt-1-37);
  padding-bottom: var(--pb-1-37);
  margin: 0 auto;
}

.container--autenticacao {
  padding: 0 !important;
}

