.container--dashboard {
  max-width: 1100px !important;
}

.box-products--dashboard img {
  max-width: 100%;
  /* width: 253px !important; */
  height: auto;
}

.box-dashboard--imgs {
  overflow-x: hidden;
  flex-wrap: wrap;
}

.dashboard__header-title {
  margin-top: var(--m-2);
  margin-bottom: var(--m-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}