.contato {
  background-color: var(--bg-blue-grayish-light);
}

.contato-content {
  display: flex;
  justify-content: space-between;
}

.contato__nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.img__fluid--width img {
  width: 180px;
}