.title__default span {
  color: var(--color-dark-grayish-200);
  font-weight: var(--fw-700);
  font-size: 23px;
}

.title__default .description {
  color: var(--color-dark-grayish-200);
  margin-top: var(--m-0-625);
  /* margin-bottom: var(--m-1); */
}

.title__default .description--price {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: var(--fw-800);
  color: var(--color-dark-gray-price) !important;
}

.title__default .description--null-product {
  color: var(--color-dark-grayish-200);
  font-weight: 700;
  margin-top: var(--m-2);
}