.btn {
  color: var(--bg-blue);
  font-weight: 700;
  border: 1px solid var(--bg-blue);
}

.btn_default {
  padding-top: var(--pt-0-75);
  padding-bottom: var(--pb-0-75);
  padding-left: var(--pl-3-10);
  padding-right: var(--pr-3-10);
  background-color: var(--bg-white);
}

.btn__blue,
.btn_default {
  font-weight: var(--fw-700);
}

.btn_add-product {
  padding: var(--p-15) var(--p-18);
  background-color: var(--bg-blue);
  color: var(--bg-white);
  font-weight: var(--fw-500);
}

.btn_default--login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--m-2);
}

.btn_default:hover {
  color: var(--bg-blue-hover);
  background-color: var(--bg-blue-light-hover);
  transition: 0.3s;
}

.btn__blue {
  color: var(--bg-white);
  margin-top: var(--m-2) !important;
}

.btn__blue {
  background-color: var(--bg-blue);
}

.btn_sair {
  background-color: rgba(240, 21, 21, 0.1);
  border-color: var(--bg-red-soft-very-5);
  color: var(--bg-red-soft-very-5);
  border-radius: 10px;
}
.btn_sair:hover {
  background: none;
  border-color: var(--bg-red-soft-very-5);
  color: var(--bg-red-soft-very-5);
}

.see-it-all {
  display: flex;
  align-items: center;
  font-weight: var(--fw-700);
}
.see-it-all:hover {
  color: var(--bg-blue-hover);
  transition: 0.3s;
}

.btn-del-prod {
  background: none;
  border: none;
}