.message-container {
  text-align: center;
  width: 100%;
  z-index: 200;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 7rem;
  left: 0;
}

.message {
  padding: var(--p-1);
  font-weight: 700;
}

.message.error {
  color: var(--bg-red-dark);
  background-color: var(--bg-red-grayish-light);
  border: 1px solid var(--bg-red-soft-very-5);
}

.message.error,
.message.success {
  width: 40%;
  border-radius: 5px !important;
}

.message.error {
  border-left: 8px solid var(--bg-red-soft-very-5) !important;  
}

.message.success {
  border-left: 8px solid var(--bg-green-lime-light-5) !important;
}

.message.success {
  color: var(--bg-green-lime-dark);
  background-color: var(--bg-green-lime-light);
}