.header {
  background-color: var(--bg-white);
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__autenticacao {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* .nav__link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--bg-blue);
} */
.nav__link:hover {
  color: var(--bg-blue-hover);
  text-decoration: underline;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.nav__usuario {
  font-weight: var(--fw-800);
  color: var(--color-dark-grayish-200);
}

.img__fluid img {
  width: 100%;
  height: auto;
}