.banner {
  position: relative;
}

.banner img {
  height: 22rem;
  width: 100%;
  object-fit: cover;
}

.banner__promocao {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner__promocao h2, p {
  color: var(--bg-white);
}

.banner__promocao h2 {
  font-size: 48px;
}

.banner--mt {
  margin-top: 1rem;
}

