.title__gray-default,
.edit__perfil {
  text-align: center;
}


/* .edit__perfil span {
  
} */

.edit__perfil {
  margin-top: var(--m-1);
}

.edit__form {
  width: 100%;
  margin: 0 auto;
}

.edit__form .edit__info {
  text-align: left;
  margin-top: var(--m-1);
  color: var(--bg-blue);
  font-weight: var(--fw-600);
  font-size: var(--fs-1-25);
}

.edit__info {
  display: flex;
  flex-direction: column;
}

.edit__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit__imagem {
  width: 126px;
  height: 124px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.alterar-senha {
  margin-left: var(--m-5);
}

.login__autenticacao--editUsuario.disabled {
  background-color: var(--bg-gray-border);
}

.edit-container {
  display: flex;
  justify-content: center;
  margin-top: var(--m-3);
}

.edit-banner {
  display: flex;
  align-items: center;
}

.ri-image-edit-line {
  margin-right: 8px;
}
