.login {
  padding-top: var(--p-3) !important;
  text-align: center;
}

legend {
  position: absolute;
  top: 0;
  left: 38rem;
}

fieldset,
.login__email,
.login__senha {
  border: none;
}

fieldset {
  width: 100%;
}

.login__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login__autenticacao {
  padding: var(--p-1) var(--p-2);
  background-color: var(--bg-white);
  border-radius: 5px;
  border: 1px solid var(--bg-gray-border);
  border-bottom: 2px solid var(--bg-gray-border);
  cursor: auto;
}



.login__container label {
  margin-bottom: var(--m-1);
}

.login__autenticacao--m-bottom {
  margin-bottom: var(--m-1) !important;
}


.ri-eye__container {
  position: relative;
  float: right;
  top: -34px;
  right: -8rem;
  font-size: 20px;
}

.ri-eye-fill,
.ri-eye-off-fill {
  cursor: pointer;
}