.container--produto {
  max-width: 870px !important;
}

.add-produto__title {
  margin-bottom: var(--m-1);
  font-size: var(--fs-2-70);
  font-weight: var(--fw-600);
  color: var(--color-dark-gray-price);
}

.alura,
.geek {
  font-weight: var(--fw-800) !important;
}

.alura {
  color: var(--bg-blue) !important;
}
.geek {
  color: var(--bg-black) !important;
}

.box-products {
  display: flex;
  flex-direction: column;
  /* margin-top: var(--m-2); */
}

.box-products img {
  width: 253px;
  height: auto;
  margin-top: var(--m-1);
  /* margin-bottom: var(--m-2); */
}
.box-products--consoles {
  flex-direction: column;
}
.box-products--imgs {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-bottom: var(--m-3);
}

.box-products-container {
  display: flex;
  justify-content: space-between;
}

.box-products--imgs, div {
  position: relative;
}

.box__prod-edit-del {
  display: flex;
  position: absolute;
  top: 25px;
  right: 14px;
}

.ri-delete-bin-7-fill,
.ri-pencil-fill {
  color: var(--bg-white);
  font-size: 24px;
}

.ri-delete-bin-7-fill:hover,
.ri-pencil-fill:hover {
  transition: 0.3s;
}

.ri-delete-bin-7-fill:hover {
  color: var(--bg-red-soft-very-light); 
}
.ri-pencil-fill:hover {
  color: var(--bg-blue);
}
.ri-pencil-fill {
  margin-left: var(--m-0-625);
}